<div class="row">
  <div class="col-md-9">
    <p class="post-meta">
    Posted on <time datetime="{{page.date | date:"%Y-%m-%d"}}" pubdate><a href="{{ page.url }}" title="Permalink for this post">{{page.date | date:"%Y-%m-%d"}}</a></time> by {{ page.author }}
    {% if page.update %}, updated <time>{{ page.update }}</time> {% endif %} {% if page.update_author %} by {{ page.update_author }} {% endif %}</p>
  </div>
  {% if page.categories %}
  <div class="col-md-3">
    <div class="tags pull-right">
      {% if page.categories == empty  %}
        No tags
      {% else %}
        Tags:
        {% for tag in page.categories %}
          <a class="label label-default" href="/tags.html#{{ tag }}" title="View posts tagged with &quot;{{ tag }}&quot;">{{ tag }}</a>{% if forloop.last != true %}, {% endif %}
        {% endfor %}
      {% endif %}
    </div>
  </div>
  {% endif %}
</div>


