<section id="contribute">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Contribute</h2>

        <p>
        You can use our new
        <a target="_blank" href="http://groups.google.com/group/padrino">Padrino Google Group</a>
        or send us an
        <a target="_blank" href="mailto:padrinorb@gmail.com">email</a>
        or write a
        <a target="_blank" href="http://github.com/padrino">message</a>
        also directly to our
        <a target="_blank" href="http://github.com/padrino/following">team</a>
        . Also, be sure to join our official
        <span class="caps">IRC</span>
        channel at
        <a target="_blank" href="irc://chat.freenode.net/#padrino">#padrino</a>
        on
        <a target="_blank" href="http://freenode.net">freenode</a>
        for live help.
        </p>
      </div>
    </div>
  </div>
</section>
