<!-- Features Section -->
    <section id="features">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Features</h2>
                    <h3 class="section-subheading text-muted">Padrino has a lot of good things</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-anchor fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Agnostic</h4>
                    <p class="text-muted">Full support for many popular testing, templating, mocking, and database libraries. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Generators</h4>
                    <p class="text-muted">Create Padrino applications, models, controllers i.e: padrino g project. </p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-group fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Mountable</h4>
                    <p class="text-muted">Unlike other ruby frameworks, principally designed for mounting multiple apps. </p>
                </div>
            </div>
        </div>
    </section>
