
<table class="table table-striped">
  <tbody><tr>
      <td style="text-align:right;"><strong>Agnostic:</strong> </td>
      <td> Full support for many popular testing, templating, mocking, and database libraries. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Generators:</strong> </td>
      <td> Create Padrino applications, models, controllers i.e: <tt>padrino g project</tt>. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Mountable:</strong> </td>
      <td> Unlike other ruby frameworks, principally designed for mounting multiple apps. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Routing:</strong> </td>
      <td> Full url named routes, named params, respond_to support, before/after filter support. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Tag Helpers:</strong> </td>
      <td> View helpers such as: <tt>tag</tt>, <tt>content_tag</tt>, <tt>input_tag</tt>. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Asset Helpers:</strong> </td>
      <td> View helpers such as: <tt>link_to</tt>, <tt>image_tag</tt>, <tt>javascript_include_tag</tt>. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Form Helpers:</strong> </td>
      <td> Builder support such as: <tt>form_tag</tt>, <tt>form_for</tt>, <tt>field_set_tag</tt>, <tt>text_field</tt>. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Text Helpers:</strong> </td>
      <td> Useful formatting like: <tt>relative_time_ago</tt>, <tt>js_escape_html</tt>, <tt>sanitize_html</tt>. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Mailer:</strong> </td>
      <td> Fast and simple delivery support for sending emails (akin to ActionMailer). </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Admin:</strong> </td>
      <td> Builtin Admin interface (like Django). </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Caching:</strong> </td>
      <td> Simple route and fragment caching to easily speed up your web requests. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Logging:</strong> </td>
      <td> Provide a unified logger that can interact with your <span class="caps">ORM</span> or any library. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Reloading:</strong> </td>
      <td> Automatically reloads server code during development. </td>
    </tr>
    <tr>
      <td style="text-align:right;"><strong>Localization:</strong> </td>
      <td> Full support of I18n </td>
      <td></td>
    </tr>
</tbody></table>


<!-- Features Section -->
    <section id="features">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Features</h2>
            <h3 class="section-subheading text-muted">Padrino has a lot of good things</h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Agnostic</h4>
            <p class="text-muted">Full support for many popular testing, templating, mocking, and database libraries.<a href="/guides">Learn more</a> </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Generators</h4>
            <p class="text-muted">Create Padrino applications, models, controllers i.e: padrino g project. <a href="/guides/generators/">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-toggle-on fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Mountable</h4>
            <p class="text-muted">Unlike other ruby frameworks, principally designed for mounting multiple apps. <a href="/guides/mounting-applications/">Learn more</a> </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-angle-double-right fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Routing</h4>
            <p class="text-muted">Named params, respond_to support, before/after filter support.<a href="/guides/controllers/#enhanced-routing">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Tag Helpers</h4>
            <p class="text-muted">View helpers such as: tag, content_tag, input_tag. <a href="/guides/application-helpers/#tag-helpers">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Asset Helpers</h4>
            <p class="text-muted">View helpers such as: link_to, image_tag.<br><a href="/guides/application-helpers/#asset-helpers">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Form Helpers</h4>
            <p class="text-muted">Builder support such as: form_tag, form_for, field_set_tag. <a href="/guides/application-helpers/#form-helpers">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Format Helpers</h4>
            <p class="text-muted">Useful formatting like: relative_time_ago, js_escape_html.<a href="/guides/application-helpers/#format-helpers">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-send fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Mailer</h4>
            <p class="text-muted">Fast and simple delivery support for sending emails (akin to ActionMailer).<a href="/guides/padrino-mailer">Learn more</a> </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-eraser fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Caching</h4>
            <p class="text-muted">Simple route and fragment caching to easily speed up your web requests. <a href="/guides/padrino-cache/">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-user fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Admin</h4>
            <p class="text-muted">Built-in admin interface (akin to Django) with authentication. <a href="/guides/padrino-admin/">Learn more</a></p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-space-shuttle fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Logging</h4>
            <p class="text-muted">Provide a unified logger that can interact with your ORM or any library.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-anchor fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Reloading</h4>
            <p class="text-muted">Automatically reloads server code during development.</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-comments-o fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">Localization</h4>
            <p class="text-muted">Full support for I18n localization.<br> <a href="/guides/localization">Learn more</a>
            </p>
          </div>
        </div>
      </div>
    </section>
