<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo-navigation.png" alt="{{ site.title}}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://github.com/padrino/padrino-framework">Code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#posts">Posts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/guides/">Guides</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="http://www.padrinorb.com/api/index.html">API</a> </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/changes">Changes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribute</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="jumbotron">
        <div class="container vertical-offset-top">
          <div class="row pull-right">
            <span class="slogan">The Elegant Ruby Web Framework</span>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-lg-4">
              <img src="/img/logo.png">
            </div>
            <div class="col-lg-5">
              <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh">gem install padrino
padrino g project myapp -d datamapper -b
<span class="nb">cd </span>myapp
padrino g admin
padrino rake dm:migrate seed
padrino start
</code></pre></div>
            </div>
            <div class="col-lg-3">
              <ul class="features">
                <li><a rel="popup" class="alternate" data-toggle="modal" data-target="#sinatraCore" href="#">SINATRA CORE</a></li>
                <li><a rel="popup" data-toggle="modal" data-target="#dropInAdmin" href="#">DROP-IN ADMIN</a></li>
                <li><a rel="popup" class="alternate" href="#feature-4b952110401c8c7266000001">LIGHTWEIGHT</a></li>
                <li><a rel="popup" href="#feature-4b951651401c8c78f4000002">AGNOSTIC</a></li>
                <li><a rel="popup" class="alternate" href="#feature-4b952693401c8c0c10000002">COMPREHENSIVE</a></li>
              </ul>
            </div>
          <div class="row">
            <div class="intro-text">
              <p><a class="btn btn-xl btn-lg" href="/guides" role="button">Learn more</a></p>
            </div>
          </div>

        <!-- Sinatra Core Toogle -->
        <div class="modal fade" id="sinatraCore" tabindex="-1" role="dialog" aria-labelledby="sinatraCoreLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="sinatraCoreLabel">Sinatra Core</h4>
              </div>
              <div class="modal-body">
                Many people love the simplicity and expressiveness of Sinatra but quickly find themselves missing a great deal of functionality provided by other web frameworks such as Rails when building non-trivial applications.
                <br><br>

                Sinatra acts as a thin layer on top of Rack itself and the “micro”-framework is kept light introducing complexities only when required by the particular application. Our goal with Padrino is to stay true to the core principles of Sinatra including a focus on simplicity and modularity.
                <br><br>

                Starting from this assumption, we have developed a different approach to a web development framework. We expand on Sinatra through the addition of standard libraries including helpers, components, and other functionality that are needed in a framework suitable for arbitrarily complex web applications.
                <br><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- drop In Admin Toogle -->
        <div class="modal fade" id="dropInAdmin" tabindex="-1" role="dialog" aria-labelledby="dropInAdminLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dropInAdminLabel">Drop-in Admin</h4>
              </div>
              <div class="modal-body">
                Padrino ships with an Admin Interface that includes the following features:
                <br><br>
                <table class="feature">
                  <tbody><tr>
                      <td> Orm Agnostic </td>
                      <td> Adapters for datamapper, activerecord, sequel, mongomapper, mongoid </td>
                    </tr>
                    <tr>
                      <td> Authentication </td>
                      <td> Account authentication support and permission management </td>
                    </tr>
                    <tr>
                      <td> Template Agnostic </td>
                      <td> View support for Erb and Haml rendering engines </td>
                    </tr>
                    <tr>
                      <td> Scaffold </td>
                      <td> Create a model “admin interface” by invoking a command </td>
                    </tr>
                    <tr>
                      <td> MultiLanguage </td>
                      <td> Translated into 10 languages including English, Spanish, and Italian </td>
                    </tr>
                </tbody></table>
                <br><br>
                Example:

                <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh"><span class="nv">$ </span>padrino-gen project cool --orm activerecord
<span class="nb">cd </span>cool
<span class="nv">$ </span>padrino-gen admin
<span class="nv">$ </span>padrino-gen admin page post
</code></pre></div>

              For usage information, check out our detailed <a href="/guides/padrino-admin">admin guide</a>.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        </div>
      </div>
    </header>

