<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo_navigation.png" alt="{{ site.title }}"></a>
            </div>

            <!-- Nav links -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                  <a href="#page-top"></a>
                </li>
                <li>
                  <a class="page-scroll" target="_blank" href="https://github.com/padrino/padrino-framework">Code</a>
                </li>
                <li>
                  <a class="page-scroll" href="#posts">Posts</a>
                </li>
                <li>
                  <a class="page-scroll" href="/guides/">Guides</a>
                </li>
                <li>
                  <a class="page-scroll" target="_blank" href="http://www.padrinorb.com/api/index.html">API</a> </li>
                <li>
                  <a class="page-scroll" href="#features">Features</a>
                </li>
                <li>
                  <a class="page-scroll" href="/changes">Changes</a>
                </li>
                <li>
                  <a class="page-scroll" href="/team">Team</a>
                </li>
                <li>
                  <a class="page-scroll" href="/contribute">Contribute</a>
                </li>
              </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="jumbotron">
        <div class="container vertical-offset-top">
          <div class="row pull-right">
            <span class="slogan">The Elegant Ruby Web Framework</span>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-lg-4">
              <img src="/img/logo_with_caption.png" alt="Logo with caption">
            </div>
            <div class="col-lg-5">
              <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh">gem install padrino
padrino g project myapp -d datamapper -b
<span class="nb">cd </span>myapp
padrino g admin
padrino rake dm:migrate seed
padrino start
</code></pre></div>
            </div>
            <div class="col-lg-3">
              <ul class="features">
                <li><a rel="popup" class="alternate" data-toggle="modal" data-target="#sinatraCore" href="#">SINATRA CORE</a></li>
                <li><a rel="popup" data-toggle="modal" data-target="#dropInAdmin" href="#">DROP-IN ADMIN</a></li>
                <li><a rel="popup" class="alternate" data-toggle="modal" data-target="#lightweight" href="#">LIGHTWEIGHT</a></li>
                <li><a rel="popup" data-toggle="modal" data-target="#agnostic" href="#">AGNOSTIC</a></li>
                <li><a rel="popup" class="alternate" data-toggle="modal" data-target="#comprehensive" href="#">COMPREHENSIVE</a></li>
              </ul>
            </div>
          <div class="row">
            <div class="intro-text">
              <p><a class="btn btn-xl btn-lg" href="/guides" role="button">Learn more</a></p>
            </div>
          </div>

        <!-- Sinatra Core Toogle -->
        <div class="modal fade" id="sinatraCore" tabindex="-1" role="dialog" aria-labelledby="sinatraCoreLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="sinatraCoreLabel">Sinatra Core</h4>
              </div>
              <div class="modal-body">
                Many people love the simplicity and expressiveness of Sinatra but quickly find themselves missing a great deal of functionality provided by other web frameworks such as Rails when building non-trivial applications.
                <br><br>

                Sinatra acts as a thin layer on top of Rack itself and the “micro”-framework is kept light introducing complexities only when required by the particular application. Our goal with Padrino is to stay true to the core principles of Sinatra including a focus on simplicity and modularity.
                <br><br>

                Starting from this assumption, we have developed a different approach to a web development framework. We expand on Sinatra through the addition of standard libraries including helpers, components, and other functionality that are needed in a framework suitable for arbitrarily complex web applications.
                <br><br>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- drop In Admin Toogle -->
        <div class="modal fade" id="dropInAdmin" tabindex="-1" role="dialog" aria-labelledby="dropInAdminLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="dropInAdminLabel">Drop-in Admin</h4>
              </div>
              <div class="modal-body">
                Padrino ships with an Admin Interface that includes the following features:
                <br><br>
                <table class="table table-striped">
                  <tbody><tr>
                      <td>Orm Agnostic</td>
                      <td>Adapters for datamapper, activerecord, sequel, mongomapper, mongoid</td>
                    </tr>
                    <tr>
                      <td>Authentication </td>
                      <td>Account authentication support and permission management</td>
                    </tr>
                    <tr>
                      <td>Template Agnostic</td>
                      <td>View support for Erb and Haml rendering engines</td>
                    </tr>
                    <tr>
                      <td>Scaffold</td>
                      <td>Create a model “admin interface” by invoking a command</td>
                    </tr>
                    <tr>
                      <td>MultiLanguage</td>
                      <td>Translated into 10 languages including English, Spanish, and Italian</td>
                    </tr>
                </tbody></table>
                Example:

                <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh"><span class="nv">$ </span>padrino-gen project cool --orm activerecord
<span class="nb">cd </span>cool
<span class="nv">$ </span>padrino-gen admin
<span class="nv">$ </span>padrino-gen admin page post
</code></pre></div>

              For usage information, check out our detailed <a href="/guides/padrino-admin">admin guide</a>.
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Lightweight Toogle -->
        <div class="modal fade" id="lightweight" tabindex="-1" role="dialog" aria-labelledby="lightweightLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="lightweightLabel">Lightweight</h4>
              </div>
              <div class="modal-body">
                The Padrino code base has been kept simple and easy to understand, maintain and enhance. The generator for each new project creates a clean and compact directory structure keeping
                <strong>your</strong>
                code simple and well organized.
                <br><br>
                Padrino strives to adhere to the following basic principles:
                <ul>
                  <li>Tiny</li>
                  <li>Clean</li>
                  <li>Compact</li>
                  <li>Fast</li>
                  <li>Creative</li>
                  <li>Concise</li>
                </ul>
                <br><br>
                This framework can be used with ease for web development for a project of any size from your lightweight json web service to a large full-stack web application!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Agnostic Toogle -->
        <div class="modal fade" id="agnostic" tabindex="-1" role="dialog" aria-labelledby="agnosticLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="agnosticLabel">Agnostic</h4>
              </div>
              <div class="modal-body">
                Padrino is <b>orm</b>, <b>javascript</b>, <b>testing</b>, <b>rendering</b>, <b>mocking</b> agnostic supporting the use of any number of available libraries.
                <br><br>
                The available components and their defaults are listed below:
                <br><br>
                <table class="table table-striped">
                  <tbody><tr>
                      <th>Component</th>
                      <th>Default</th>
                      <th>Options</th>
                    </tr>
                    <tr>
                      <td>orm</td>
                      <td>none</td>
                      <td>activerecord, datamapper, mongomapper, mongoid, sequel, couchrest</td>
                    </tr>
                    <tr>
                      <td>script</td>
                      <td>none</td>
                      <td>prototype, rightjs, jquery, mootools, extcore</td>
                    </tr>
                    <tr>
                      <td>renderer</td>
                      <td>slim</td>
                      <td>erb, haml, slim</td>
                    </tr>
                    <tr>
                      <td>test</td>
                      <td>none</td>
                      <td>bacon, shoulda, cucumber, riot, rspec</td>
                    </tr>
                    <tr>
                      <td>stylesheet</td>
                      <td>none</td>
                      <td>less, sass, scss, compass</td>
                    </tr>
                    <tr>
                      <td>mock</td>
                      <td>none</td>
                      <td>rr, mocha</td>
                    </tr>
                </tbody></table>
                Just create the project with the usual generator command and pass in your preferred components!
                <br><br>
                <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh"><span class="nv">$ </span>padrino g project cool --orm datamapper
<span class="nv">$ </span>padrino g project cool --renderer haml --stylesheet sass
<span class="nv">$ </span>padrino g project cool --script mootools
<span class="nv">$ </span>padrino g project cool --orm mongoid --script mootools
<span class="nv">$ </span>padrino g project -h <span class="c"># shows available options</span></code></pre></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Comprehensive -->
        <div class="modal fade" id="comprehensive" tabindex="-1" role="dialog" aria-labelledby="comprehensiveLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title" id="comprehensiveLabel">Comprehensive</h4>
              </div>
              <div class="modal-body">
                Building on our experience in developing web applications, we designed a framework that meets all the requirements for creating a top notch web application in a <em>clean</em>, <em>concise</em> and <em>simple environment</em>, with minimal <em>deadline</em> delays.
                <br><br>
                We provide you with the following out of the box:
                <br><br>
                <table class="table table-striped">
                  <tbody><tr>
                      <td style="text-align:right;"><strong>Agnostic:</strong> </td>
                      <td> Full support for many popular testing, templating, mocking, and database libraries. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Generators:</strong> </td>
                      <td> Create Padrino applications, models, controllers, admin. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Mountable:</strong> </td>
                      <td> Unlike other ruby frameworks, principally designed for mounting multiple apps. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Routing:</strong> </td>
                      <td> Full url named routes, named params, respond_to support, before/after filter support. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Helpers:</strong> </td>
                      <td> Different helpers for generating tags, forms, links, images, and more. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Mailer:</strong> </td>
                      <td> Fast and simple support for delivering emails. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Caching:</strong> </td>
                      <td> Simple route and fragment caching to easily speed up your web requests. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Admin:</strong> </td>
                      <td> Built-in admin interface (akin to Django) with authentication. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Logging:</strong> </td>
                      <td> Provides a unified logger that can interact with your <span class="caps">ORM</span> or any library of your choice. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Reloading:</strong> </td>
                      <td> Automatically reloads server code during development. </td>
                    </tr>
                    <tr>
                      <td style="text-align:right;"><strong>Localization:</strong> </td>
                      <td> Full support for I18n localization. </td>
                    </tr>
                </tbody></table>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>

      </div>
    </header>

