<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo-navigation.png" alt="{{ site.title}}"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="https://github.com/padrino/padrino-framework">Code</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#posts">Posts</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/guides/">Guides</a>
                    </li>
                    <li>
                        <a class="page-scroll" target="_blank" href="http://www.padrinorb.com/api/index.html">API</a> </li>
                    <li>
                        <a class="page-scroll" href="#features">Features</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="/changes">Changes</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#team">Team</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contribute">Contribute</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header>
      <div class="jumbotron">
        <div class="container vertical-offset-top">
          <div class="row pull-right">
            <span class="slogan">The Elegant Ruby Web Framework</span>
          </div>
          <div class="row"></div>
          <div class="row">
            <div class="col-lg-4">
              <img src="/img/logo.png">
            </div>
            <div class="col-lg-5">
              <div class="highlight header-text"><pre><code data-lang="sh" class="language-sh">gem install padrino
padrino g project myapp -d datamapper -b
<span class="nb">cd </span>myapp
padrino g admin
padrino rake dm:migrate seed
padrino start
</code></pre></div>
            </div>
            <div class="col-lg-3">
              <ul class="features">
                <li><a rel="popup" class="alternate" href="#feature-4b8e5bc6401c8c72a500000c">SINATRA CORE</a></li>
                <li><a rel="popup" href="#feature-4b8e5c65401c8c72a5000015">DROP-IN ADMIN</a></li>
                <li><a rel="popup" class="alternate" href="#feature-4b952110401c8c7266000001">LIGHTWEIGHT</a></li>
                <li><a rel="popup" href="#feature-4b951651401c8c78f4000002">AGNOSTIC</a></li>
                <li><a rel="popup" class="alternate" href="#feature-4b952693401c8c0c10000002">COMPREHENSIVE</a></li>
              </ul>
            </div>
          <div class="row">
            <div class="intro-text">
              <p><a class="btn btn-xl btn-lg" href="/guides" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
      </div>
    </header>

