 <!-- jQuery Version 1.11.0 -->
    <script src="{{ "/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ "/js/bootstrap.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/jquery.tableofcontents.min.js" | prepend: site.baseurl }}"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ "/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/classie.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ "/js/agency.js" | prepend: site.baseurl }}"></script>

    <script type="text/javascript" charset="utf-8">
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      });

      $(document).ready(function(){
        $("#toc").tableOfContents(
          null,                          // Default scoping
          {
            startLevel:           1,   // H1
            depth:                4,   // H1 through H4
            proportionateSpacing: true // Spacing On
          }
        );
      });
    </script>



