<!DOCTYPE html>
<html>
  {% include head.html %}
  {% include header_changes.html %}
    <body id="page-top" class="index">
      <section id="changes">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                  <h2 class="section-heading">{{ page.title}}</h2>
                  <p class="text-muted">{{ content }}</p>
                </div>
            </div>
        </div>
      </section>

    {% include contribute.html %}
    {% include footer.html %}
    {% include js.html %}

    </body>
</html>

