<!DOCTYPE html>
<html>
  {% include head.html %}
    <body id="page-top" class="index">

    {% include header_contribute.html %}

        <div class="container vertical-offset-top">
            <div class="row">
                <div class="col-lg-8">
                  <h2 class="section-heading">{{ page.title}}</h2>
                    <p class="text-muted">{{ content }}</p>
                </div>
                <div class="col-lg-4">
                  <span class="heading-sidebar">Table of Contents</span>
                    <ul id="toc"></ul>
                </div>
            </div>
        </div>
    </div>

    {% include footer.html %}

    </body>
</html>

