<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body id="page-top" class="index">
  {% capture current %}Blog{% endcapture %}

  {% include header_navigation.html %}

  <div class="container">
    <div class="row vertical-offset-top">
      <div class="col-md-12">
        <h1>{{ page.title}}</h1>
        {% include author.html %}

        <p class="text-muted">{{ content }}</p>

        <div class="hierarchy">
          {% if page.previous %}
            <a class="label label-default pull-left hierarchy" data-toggle="tooltip" data-placement="top" href="{{ page.previous.url }}" title="Previous post - {{ page.previous.title }}">← PREVIOUS POST</a>
          {% endif %}

          {% if page.next %}
            <a class="label label-default pull-right hierarchy" data-toggle="tooltip" data-placement="top" href="{{ page.next.url }}" title="Next post - {{ page.next.title }} ">NEXT POST →</a>
          {% endif %}
        </div>
      </div>
    </div>
  </div>

  {% include footer.html %}

  </body>
</html>

