{% include css/bootstrap.min.css %}
{% include css/pygments.css %}
{% include css/agency.css %}


.slogan {
  font-size: 24px;
  color: black;
}

.author, .hierarchy, .tags {
  font-size: 85%;
  color: #bdbbbb;
  margin: 0 0 1em 0;
}

.hierarchy, .tags {
  font-size: 90%;
}

.current {
  border-radius: 3px;
  background-color: #ff0000;
  font: 20px
}

.vertical-offset-top{
  margin-top: 10em;
}

.heading-sidebar {
  font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.5em;
  margin-bottom: 10px;
  margin-top: 20px;
}

.guides {
  margin: 0px 0px 0px 40px;
}

ul#toc {
  list-style: none;
}

ul#toc ul {
  list-style: disc;
}

.navbar-default {
    background-color: #222;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    height: 70px;
    line-height: 20px;
    padding: 0;
}

.header-text {
  text-align: left;
}

.modal-title,
.modal-body
{
  text-align: left;
  color: black;
}

ul.features {
  font-size: 28px;
  letter-spacing: -3px;
  line-height: 24px;
  list-style-type: none;
  margin-top: 1.5em;
  text-align: right;
}
ul.features a {
  color: #393939;
}
ul.features a.alternate {
  color: #4d4d4d;
}
ul.features a:hover {
  color: #000;
  text-decoration: none;
}
ul.features li {
  margin: 0;
  padding: 0;
}
