{% include css/bootstrap.min.css %}
{% include css/pygments.css %}
{% include css/agency.css %}

.author, .hierarchy, .tags {
  font-size: 85%;
  color: #bdbbbb;
  margin: 0 0 1em 0;
}

.hierarchy, .tags {
  font-size: 90%;
}

.current {
  border-radius: 3px;
  background-color: #ff0000;
  font: 20px
}

.vertical-offset-top{
  margin-top: 10em;
}
